body {
    
    justify-content: center;
    background-color: black;
    height: 100vh;
    margin: 0;
}


@keyframes scroll-progress {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }
  
  .top-progress {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 8px;
    background: cyan;
    z-index: 900;
    transform-origin: 0 50%;
    animation: scroll-progress auto linear;
    animation-timeline: scroll();
  }

nav {
    background-color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav ion-icon {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid white;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: rgba(85, 84, 84, 0.195);
    text-decoration: underline;
}

nav li:first-child{
    margin-right: auto;
    font-size: 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li {
    width: 100%;
    color: white;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 1200px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
        margin-left: auto;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.get-in-touch {
    border: 1px solid cyan;
    border-radius: 2px;
}

.get-in-touch:hover {
    background-color: cyan;
    color: black;
}


.my_pic{
    height: 270px;
    width: 270px;
    position: relative;
    border-radius: 50%;
    margin-top: 80px;
    border: 5px solid cyan;
    box-shadow: 10px rgb(36, 132, 164);
}

.name-container {
    color: white;
    margin-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: name;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes name {
    0%{
        transform: translate(0, 0px);
    }
    33%{
        transform: translate(0, 5px);
    }
    66%{
        transform: translate(0, -5px);
    }
    100%{
        transform: translate(0, 0px);
    }
}


.headline {
    padding-left: 5%;
    padding-right: 5%;
}

.name {
    font-weight: bold;
    color: cyan;
}

.details {
    margin-top: 120px;
    color: aliceblue;
}

.cyan {
    color: cyan;
}

.cyan:hover{
    color: white;
}

.bgcyan {
    background-color: cyan;
}

.contact-info{
    display: flex;
    place-content: center;
}

.contact-info div{
    margin: 2px;
}

.portfolio:hover {
    background-color: black;
    text-decoration: none;
}

.about-title{
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline cyan;
    padding: 30px;
}

.about-content {
    font-size: 20px;
    font-weight: 500;
    padding: 30px 50px 30px 30px;
    border-radius: 20px;
    max-width: 600px;
    border: 1px solid cyan;
}

.skills {
    margin-top: 200px;
}

.skills-title {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline cyan;
}

.skill-list-title {
    font-weight: 650;
    font-size: 28px;
    padding-top: 20px;
}

.skill-list {
    background-color: rgb(44, 40, 40);
    height: 100%;
    padding: 20px;
}

.align-center {
    list-style-type: none;
    text-align: left;
    margin-top: -15px;
    margin-left: 15px;
    margin-right: 35px;
}

.mt {
    margin-top: 20px;
}

.mt-title {
    margin-top: 20px;
}

ul {
    margin-left: -25px;
    text-align: center;
    list-style-type: none;
}

ul li {
    font-size: 20px;
    font-weight: 500;
}


@keyframes slide-from-bottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(-18%);
    }
}
.animate-card {
    animation: auto linear slide-from-bottom both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
}




.progress-bar-wrap {
    width: 100%;
    height: 10px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}




@keyframes progress-bar-slide {
    from {
      width: 0%;
    }
    to {

    }
}

.progress-bar {
    height: 100%;
    background-color: cyan;

    animation: auto linear progress-bar-slide both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
    animation-iteration-count: 1;
}

.w30 {width: 30%;}
.w35 {width: 35%;}
.w40 {width: 40%;}
.w45 {width: 45%;}
.w50 {width: 50%;}
.w55 {width: 55%;}
.w60 {width: 60%;}
.w65 {width: 65%;}
.w70 {width: 70%;}
.w75 {width: 75%;}
.w80 {width: 80%;}
.w85 {width: 85%;}
.w90 {width: 90%;}
.w95 {width: 95%;}

.test {
    background-color: blueviolet;
}

.project-title {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline cyan;
    margin-top: 170px;
    margin-bottom: 50px;
}



.proj-card {
    padding: 30px;
}

.card{
    background: transparent;
    color: white;
}

.visit-btn {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: black;
    border: 1px solid cyan;
    color: cyan;
}

.visit-btn:hover {
    color: black;
    background-color: cyan;
    box-shadow: 0 0 100px 2px cyan;
}

.blog-title {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline cyan;
    margin-top: 170px;
    margin-bottom: 50px;
}

.contact-info ion-icon {
    margin-top: 30px;
    background-color: rgba(58, 57, 57, 0.526);
    border-radius: 50%;
    font-size: 30px;
    color: cyan;
    padding: 25px;
    transition: 0.5s;
}

.contact-info ion-icon:hover {

    color: black;
    background-color: cyan;
}

.designer-name {
    position: fixed;
    bottom: 0%;
    left: 0%;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.footer {
    height: 200px;
}